# CLion cache
.idea/

# CMake
cmake-build-*/
CMakeFiles/
*.cmake
CMakeCache.txt

# compiled binaries and library objects
*.so
*.out
*.o

# Python environment and cache
*.pyc
__pycache__/
.venv/

msgpack/
build/
dist/
*.egg-info/
blackboxes/
